body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*** HEADER ***/
.header {
  background-color: #F76902;
  padding: 10px;
}

.logo {
  width: 144px;
  height: 75px;
  display: inline-block;
  vertical-align: middle;
}

.tigerhub {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: white;
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
}

.nav {
  background-color: black;
}
