body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*** HEADER ***/
.header {
  background-color: #F76902;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  width: 144px;
  height: 75px;
  display: inline-block;
  vertical-align: middle;
}

.tigerhub {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: white;
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
}

.login {
  color: white;
  align-self: flex-start;
}

.nav {
  background-color: black;
}

/**HOME PAGE**/
.home-page {
  display: flex;
  justify-content: center;
}

.signed-out {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading {
  margin-top: 5em;
  margin-bottom: 100%;
}

.calendar-monthly {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.calendar-agenda {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.home-page h2 {
  padding: 10px;
}

.calendar-monthly .monthly {
  border-width: 0;
  width: 100%;
  height: 600px;
  padding: 1em;
}

.calendar-agenda .agenda {
  border-width: 0;
  width: 100%;
  height: 600px;
  padding: 1em;
}

/**DEGREE PLANNING**/

.degree-planning {
  margin: 1em;
  display: flex;
  justify-content: flex-start;
}

.degree-right {
  display: flex;
  flex-direction: column;
  margin: 1em;
  width: 35%;
}

.se-flowchart {
  width: 65%;
}

.se-flowchart img {
  max-width: 100%;
}

.flowchart-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.se-flowchart h2 {
  margin-left: 0.5em;
}

.se-flowchart p {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0;
}

#p-key-red {
  border: 2px solid red;
  margin-left: 1em;
  margin-right: 10px;
  padding: 10px;
}

#p-key-green {
  border: 2px solid limegreen;
  margin-left: 1em;
  margin-right: 10px;
  padding: 10px;
}

.recommended-classes h2, .recommended-classes h3 {
  text-align: center;
}

.recommended-classes {
  margin-top: 3em;
}

.class-search h2, .class-search h3 {
  text-align: center;
}

#search {
  border: 2px solid black;
}

#selectClass {
  border: 2px solid black;
}

.courses {
  display: flex;
  flex-wrap: wrap;
}

.courses button {
  margin-top: 15px;
  margin-right: 2em;
}

.chosen-course {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.chosen-course h4 {
  margin-top: 8px;
}

.chosen-course button {
  margin-left: 2em;
}

#confirm {
  margin-right: 1em;
}

/**CONTACT PAGE**/
.contact {
  display: flex;
  justify-content: center;
}

.schedule-appointment {
  padding: 2em;
  border-right: 1px solid black;
  width: 50%
}

.convo-message {
  padding: 2em;
  width: 50%
}

.conversations {
  padding-bottom: 1em;
}

.new-message {
  padding-top: 1em;
}

.back-button {
  margin-bottom: 1em;
}

.message-sent {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appointment-made {
  width: 50%;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**STUDENT LIST**/
.student-list-page {
  display: flex;
}

.studentList {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 2em;
  margin-top: 2em;
}

.studentList h2 {
  text-align: center;
}

.studentSearch #search {
  margin-top: 1.3em;
}

.student-info {
  width: 65%;
  margin-left: 2em;
  margin-right: 2em;
}

.studentSearchResults button {
  width: 100%;
  text-align: left;
  text-indent: 1em;
  margin-top: 1em;
}

/**STUDENT STUDENTSEN**/
.studentstudentsen{
  display: block;
  align-content: center;
}
textarea{
  height: 250px;
  resize: none;
}
.stu {
  display: block;
  height: auto;
  width: auto;
  position: absolute;
  right: 0;
  top: 180px;
  ;
}
.flowchart{
  height: 1024px;
  width: 768px;
  position: absolute;
  left: 510px;
}
.printer{
  position: absolute;
  top: 100px;
  right: 40px;
}
.student{
  display: block;
}